body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

.graph .labels.x-labels {
  /*text-anchor: middle;*/
}

.graph .labels.y-labels {
  /*text-anchor: end;*/
}

.graph {
  height: 500px;
  width: 800px;
}

.graph .grid {
  stroke: #ccc;
  stroke-dasharray: 0;
  stroke-width: 1;
}

/*.y-grid-children {
  stroke-dasharray: 5;
  fill: rgb(229,229,229);
}*/

.labels {
  font-size: 13px;
  fill: rgb(210,210,210);
}

.label-title {
  text-transform: uppercase;
  font-size: 10px;

}

.labels-data .green {
  fill: rgb(117,183,56);
}

.labels-data .orange {
  fill: rgb(232,145,75);
}

.labels-data .red {
  fill: rgb(217,78,78);
}

.data-title {
  font-size: 10px;
  fill: rgb(150,150,150);
}

.data circle:hover {
  transform: scale(1.4);
  transform-origin: center;
}

.labels-data-circle .open {
  transform: scale(1.6);
  transform-origin: center;

}
